.content {
    height: 100%;
  display: none;
}

.image-hero {
    position: relative;
    height: 95vh;
    display: flex;
}

.image-hero .lalaa {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
    font-family: "permanent marker";
    font-size: 10vw;
    color: white;
    height: 100%;
    left: 4vw;
    -moz-user-select: none;
    user-select: none;
    text-shadow: 0 10px 0 var(--bordo);
}

.main {
    width: 60%;
    margin: auto;
    /* border: solid 2px red; */
    padding: 10px 
}

.flex {
    display: flex;
    width: 100%;
    justify-content: center;
    height: auto;
    /* border: solid green 2px; */
    margin-bottom: 50px;
    -moz-user-select: none;
    user-select: none;
}

.scroll-animation {
    position: relative;
    display: inline-block;
    margin: auto;
    height: 50px;
    /* border: solid 2px red; */
    opacity: 0;
    transition: 1.5s;
    transform: translate(0px , 50px);
    height: auto;
    z-index: -1;
    text-align: center;
}

h1.scroll-animation {
    font-size: 50px;
    display: block;
    text-align: center;
    width: 50%;
    margin: 40px auto;
    border-bottom: solid 1px black;
    padding-bottom: 20px;
    -moz-user-select: none;
    user-select: none;
}

#easter-egg:hover {
    cursor: pointer;
}

.show {
    opacity: 1;
    transform: none;
}