.content {
    height: 100%;
    display: none;
}

.image-hero {
    position: relative;
    height: 95vh;
    display: flex;
}

.image-hero .lalaa {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
    font-family: "permanent marker";
    font-size: 10vw;
    color: white;
    height: 100%;
    left: 4vw;
    -moz-user-select: none;
    user-select: none;
    text-shadow: 0 10px 0 var(--bordo);
}

.main {
    width: 60%;
    margin: auto;
    border: solid 2px red;
    padding: 10px 
}