<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Doma la web
        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="./resources/css/main.css")

        
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="./vendors/particles.min.js")
        script(src="./resources/js/index.js")
    body

        audio(src="./resources/audio/tribal-effect.mp3")

        button(style="position: absolute;z-index: 100;top: 0;left: 0;" onclick="localStorage.clear();") Limpiar cache

        .intro
            img.intro-background(src="./resources/images/intro-background.jpg")
            .p-container.intro-gradient
            div#particles-js.p-container
            .opacity
                .inner-opacity 
                    h1 La jungla
                    .text Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, aliquam!
                    button.intro-btn
                        .circle-effect
                        span Que debo hacer
                        span.interrogant ?
        
        .content
            .image-hero
                img.intro-background(src="./resources/images/image-hero.jpg")
                .p-container.intro-gradient
                .lalaa
                    span Dómala.

            ul.horizontal-navigation-bar
                li Lorem
                    div
                li Lorem
                    div
                li Lorem
                    div
                li Lorem
                    div
                li Lorema
                    div

            div.main
                h1 ¿Como puedo conseguirlo?
                hr
                section
                    p.
                        El camino del desarollador web no es facil y es interminable. Mi objetivo no es asustarte,
                        sino mostrarte la realidad que se esta postrando frente a mi de a poco. Es un camino dificil de recorrer
                        sobre todo por la cantidad de temas que el mundo web concentra, herramientas, tecnologias y
                        como estas evolucionan velozmente.<br/>
                        No solo hay que entender
                        el concepto que define estas herramientas, sino como y cuando aplicarlas. Por ejemplo, si el rumbo que toma
                        un proyecto, no demuestra necesitar hacer uso de determinada tecnologia, quizas cierta problematica podria haber
                        sido resuelta de una forma mucho mas simple y se este desperdiciando el potencial que esta herramienta ofrece.
                        El caso totalmente opuesto seria no conocer una determinada herramienta
                        y tener que basarse en herramientas mas simples (o con el mismo nivel de complejidad pero que su aplicacion no es la idonea
                        para la situacion) y como consecuencia, obtener un codigo mucho mas extenso y dificil de controlar y que conforme el proyecto
                        vaya creciendo, la dificultad de detectar errores tambien lo haga.<br/>
                        Para sobrevivir en esta frondosa selva, no se necesita mas que pasion por lo que todo esto forma. La programacion
                        no deja de ser otra rama del conocimiento y no se necesita ser un genio para poder estudiarla, aprenderla y darle uso.
                        Ramas como pueden ser la fisica, matematica, abogacia, politica, todas requieren un esfuerzo previo a su entendimiento.<br/>
                        Ahora la pregunta es ¿por que en la sociedad (o por lo menos en una gran cantidad de personas) existe el prejuicio de que
                        programar solo esta al alcance de genios?<br/>
                        Personalmente, veo a la programacion como un arte que actualmente esta mas escondido en comparacion a otras ramas del conocimiento.
                        Esto se debe a lo reciente que es este saber y lo distinto que es respecto a lo que la mayoria de personas estan acostumbradas a aprender.
                        Aca en Argentina, en muchas escuelas se enseña matematica, ingles, historia, pero no programacion. En mi escuela, ni siquiera habia una
                        materia dedicada a la computacion siendo algo normal en muchas otras y aun asi, yo tambien estoy intentado adaptarme a la jungla.<br/>
                        Uno diria que con el paso del tiempo, la tecnologia se hace mas presente en la vida cotidiana de las personas, lo que despierta el interes
                        de muchos en entender como funciona aquel dispositivo que tienen en las manos en ese preciso momento. Sin embargo, este hecho es un poco ambiguo
                        para mí. Entre mas sofisticada sea la tecnologia, mas es mal acostrumbrado su usuario. Por ejemplo, hay gente que muchas tareas que podria cumplir
                        con una computadora, termina haciendolas con el celular al ser mas comodo y en consecuencia, no sabe ni siquiera crear accesos directos en el escritorio...
                        en Windows. Por eso pienso que el interes que tenga la sociedad por la programacion y la tecnologia, se mantendra estable pero con una ligera variacion.<br/>
                        Los interesados cada vez tendran mas a su favor medios para desarollarse en este ambito. Los no interesados se mantendran estaticos en esta rama del saber,
                        lo que quiere decir que poco a poco se quedaran atras y veran la programacion como algo aun mas inalcanzable. Lo que describo, no es nada nuevo.
                        Todas las ramas del saber evolucionan hasta tal punto de tener que dividirse, ya que las personas van a centrarse en una para poder seguir desarollandose
                        asi como seguir desarollando el saber en si mismo. La programacion no es distinta en ese aspecto y en muchos otros.
                
                h1 ¿Y como empezar?
                section
                    p.
                        Como bien dije, este es un saber un tanto mas escondido que el resto. El camino para muchos no esta tan claro y en muchos casos no se dispone de la guia
                        que se ofrece en el ambito escolar

                ul
                    li 1
                    li 2
                    li 3
                    li 4
                    li 5
                    li 6
                    li 7
                    li 8
                    li 9
                    li 10
                    li 11
                    li 12
                    li 13
                    li 14
                    li 15
                    li 16
                    li 17
                    li 18
                    li 19
                    li 20
                    li 21
                    li 22
                    li 23
                    li 24
                    li 25
                    li 26
                    li 27
                    li 28
                    li 29
                    li 30
                    li 31
                    li 32
                    li 33
                    li 34
                    li 35
                    li 36
                    li 37
                    li 38
                    li 39
                    li 40
                    li 41
                    li 42
                    li 43
                    li 44
                    li 45
                    li 46
                    li 47
                    li 48
                    li 49
                    li 50
                    li 8
                    li 9
                    li 10
                    li 11
                    li 12
                    li 13
                    li 14
                    li 15
                    li 16
                    li 17
                    li 18
                    li 19
                    li 20
                    li 21
                    li 22
                    li 23
                    li 24
                    li 25
                    li 26
                    li 27
                    li 28
                    li 29
                    li 30
                    li 31
                    li 32
                    li 33
                    li 34
                    li 35
                    li 36
                    li 37
                    li 38
                    li 39
                    li 40
                    li 41
                    li 42
                    li 43
                    li 44
                    li 45
                    li 46
                    li 47
                    li 48
                    li 49
                    li 50   


