<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Doma la web
        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="./resources/css/main.css")

        
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="./vendors/particles.min.js")
        script(src="./resources/js/index.js")
    body

        audio(src="./resources/audio/tribal-effect.mp3")

        button(style="position: absolute;z-index: 100;top: 0;left: 0;" onclick="localStorage.clear();") Limpiar cache

        .intro
            img.intro-background(src="./resources/images/intro-background.jpg")
            .p-container.intro-gradient
            div#particles-js.p-container
            .opacity
                .inner-opacity 
                    h1 La jungla
                    .text Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, aliquam!
                    button.intro-btn
                        .circle-effect
                        span Que debo hacer
                        span.interrogant ?
        
        .content
            .image-hero
                img.intro-background(src="./resources/images/image-hero.jpg")
                .p-container.intro-gradient
                .lalaa
                    span Dómala.
                    
            ul.horizontal-navigation-bar
                li Lorem
                li Lorem
                li Lorem
                li Lorem
                li Lorem

            ul
                li 1
                li 2
                li 3
                li 4
                li 5
                li 6
                li 7
                li 8
                li 9
                li 10
                li 11
                li 12
                li 13
                li 14
                li 15
                li 16
                li 17
                li 18
                li 19
                li 20
                li 21
                li 22
                li 23
                li 24
                li 25
                li 26
                li 27
                li 28
                li 29
                li 30
                li 31
                li 32
                li 33
                li 34
                li 35
                li 36
                li 37
                li 38
                li 39
                li 40
                li 41
                li 42
                li 43
                li 44
                li 45
                li 46
                li 47
                li 48
                li 49
                li 50
                li 8
                li 9
                li 10
                li 11
                li 12
                li 13
                li 14
                li 15
                li 16
                li 17
                li 18
                li 19
                li 20
                li 21
                li 22
                li 23
                li 24
                li 25
                li 26
                li 27
                li 28
                li 29
                li 30
                li 31
                li 32
                li 33
                li 34
                li 35
                li 36
                li 37
                li 38
                li 39
                li 40
                li 41
                li 42
                li 43
                li 44
                li 45
                li 46
                li 47
                li 48
                li 49
                li 50   


